<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  
  <!-- 
    Files.wxs - Application file components
    Defines all files to be installed from the build output
  -->

  <Fragment>
    <!-- Main Component Group that references all file components -->
    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      
      <!-- Main Executable -->
      <Component Id="WhisperKeyExe" Guid="11111111-1111-1111-1111-111111111111">
        <File Id="WhisperKey.exe" 
              Name="WhisperKey.exe" 
              Source="$(var.WhisperKey.TargetDir)WhisperKey.exe"
              KeyPath="yes"
              Vital="yes" />
      </Component>

      <!-- Core Application DLL -->
      <Component Id="WhisperKeyDll" Guid="22222222-2222-2222-2222-222222222222">
        <File Id="WhisperKey.dll" 
              Name="WhisperKey.dll" 
              Source="$(var.WhisperKey.TargetDir)WhisperKey.dll"
              KeyPath="yes" />
      </Component>

      <!-- Configuration Files -->
      <Component Id="AppSettings" Guid="33333333-3333-3333-3333-333333333333">
        <File Id="appsettings.json" 
              Name="appsettings.json" 
              Source="$(var.WhisperKey.TargetDir)appsettings.json"
              KeyPath="yes" />
      </Component>

      <!-- NAudio Audio Libraries -->
      <Component Id="NAudioDll" Guid="44444444-4444-4444-4444-444444444444">
        <File Id="NAudio.dll" 
              Name="NAudio.dll" 
              Source="$(var.WhisperKey.TargetDir)NAudio.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="NAudioCoreDll" Guid="55555555-5555-5555-5555-555555555555">
        <File Id="NAudio.Core.dll" 
              Name="NAudio.Core.dll" 
              Source="$(var.WhisperKey.TargetDir)NAudio.Core.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="NAudioWasapiDll" Guid="66666666-6666-6666-6666-666666666666">
        <File Id="NAudio.Wasapi.dll" 
              Name="NAudio.Wasapi.dll" 
              Source="$(var.WhisperKey.TargetDir)NAudio.Wasapi.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="NAudioWinMMDll" Guid="77777777-7777-7777-7777-777777777777">
        <File Id="NAudio.WinMM.dll" 
              Name="NAudio.WinMM.dll" 
              Source="$(var.WhisperKey.TargetDir)NAudio.WinMM.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="NAudioAsioDll" Guid="88888888-8888-8888-8888-888888888888">
        <File Id="NAudio.Asio.dll" 
              Name="NAudio.Asio.dll" 
              Source="$(var.WhisperKey.TargetDir)NAudio.Asio.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="NAudioMidiDll" Guid="99999999-9999-9999-9999-999999999999">
        <File Id="NAudio.Midi.dll" 
              Name="NAudio.Midi.dll" 
              Source="$(var.WhisperKey.TargetDir)NAudio.Midi.dll"
              KeyPath="yes" />
      </Component>

      <!-- Notification Icon Libraries -->
      <Component Id="HNotifyIconDll" Guid="AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA">
        <File Id="H.NotifyIcon.dll" 
              Name="H.NotifyIcon.dll" 
              Source="$(var.WhisperKey.TargetDir)H.NotifyIcon.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="HNotifyIconWpfDll" Guid="BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB">
        <File Id="H.NotifyIcon.Wpf.dll" 
              Name="H.NotifyIcon.Wpf.dll" 
              Source="$(var.WhisperKey.TargetDir)H.NotifyIcon.Wpf.dll"
              KeyPath="yes" />
      </Component>

      <!-- Input Simulation -->
      <Component Id="HInputSimulatorDll" Guid="CCCCCCCC-CCCC-CCCC-CCCC-CCCCCCCCCCCC">
        <File Id="H.InputSimulator.dll" 
              Name="H.InputSimulator.dll" 
              Source="$(var.WhisperKey.TargetDir)H.InputSimulator.dll"
              KeyPath="yes" />
      </Component>

      <!-- JSON Serialization -->
      <Component Id="NewtonsoftJsonDll" Guid="DDDDDDDD-DDDD-DDDD-DDDD-DDDDDDDDDDDD">
        <File Id="Newtonsoft.Json.dll" 
              Name="Newtonsoft.Json.dll" 
              Source="$(var.WhisperKey.TargetDir)Newtonsoft.Json.dll"
              KeyPath="yes" />
      </Component>

      <!-- Polly Resilience -->
      <Component Id="PollyDll" Guid="EEEEEEEE-EEEE-EEEE-EEEE-EEEEEEEEEEEE">
        <File Id="Polly.dll" 
              Name="Polly.dll" 
              Source="$(var.WhisperKey.TargetDir)Polly.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="PollyCoreDll" Guid="FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF">
        <File Id="Polly.Core.dll" 
              Name="Polly.Core.dll" 
              Source="$(var.WhisperKey.TargetDir)Polly.Core.dll"
              KeyPath="yes" />
      </Component>

      <!-- Serilog Logging -->
      <Component Id="SerilogDll" Guid="11112222-2222-3333-4444-555566667777">
        <File Id="Serilog.dll" 
              Name="Serilog.dll" 
              Source="$(var.WhisperKey.TargetDir)Serilog.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="SerilogSinksFileDll" Guid="11113333-4444-5555-6666-777788889999">
        <File Id="Serilog.Sinks.File.dll" 
              Name="Serilog.Sinks.File.dll" 
              Source="$(var.WhisperKey.TargetDir)Serilog.Sinks.File.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="SerilogSinksConsoleDll" Guid="11114444-5555-6666-7777-888899990000">
        <File Id="Serilog.Sinks.Console.dll" 
              Name="Serilog.Sinks.Console.dll" 
              Source="$(var.WhisperKey.TargetDir)Serilog.Sinks.Console.dll"
              KeyPath="yes" />
      </Component>

      <!-- Microsoft Extensions -->
      <Component Id="MicrosoftExtensionsDependencyInjectionDll" Guid="11115555-6666-7777-8888-999900001111">
        <File Id="Microsoft.Extensions.DependencyInjection.dll" 
              Name="Microsoft.Extensions.DependencyInjection.dll" 
              Source="$(var.WhisperKey.TargetDir)Microsoft.Extensions.DependencyInjection.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="MicrosoftExtensionsLoggingDll" Guid="11116666-7777-8888-9999-000011112222">
        <File Id="Microsoft.Extensions.Logging.dll" 
              Name="Microsoft.Extensions.Logging.dll" 
              Source="$(var.WhisperKey.TargetDir)Microsoft.Extensions.Logging.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="MicrosoftExtensionsOptionsDll" Guid="11117777-8888-9999-0000-111122223333">
        <File Id="Microsoft.Extensions.Options.dll" 
              Name="Microsoft.Extensions.Options.dll" 
              Source="$(var.WhisperKey.TargetDir)Microsoft.Extensions.Options.dll"
              KeyPath="yes" />
      </Component>

      <Component Id="MicrosoftExtensionsHttpDll" Guid="11118888-9999-0000-1111-222233334444">
        <File Id="Microsoft.Extensions.Http.dll" 
              Name="Microsoft.Extensions.Http.dll" 
              Source="$(var.WhisperKey.TargetDir)Microsoft.Extensions.Http.dll"
              KeyPath="yes" />
      </Component>

      <!-- Whisper.net -->
      <Component Id="WhisperNetDll" Guid="11119999-0000-1111-2222-333344445555">
        <File Id="Whisper.net.dll" 
              Name="Whisper.net.dll" 
              Source="$(var.WhisperKey.TargetDir)Whisper.net.dll"
              KeyPath="yes" />
      </Component>

      <!-- System.Drawing -->
      <Component Id="SystemDrawingCommonDll" Guid="11110000-1111-2222-3333-444455556666">
        <File Id="System.Drawing.Common.dll" 
              Name="System.Drawing.Common.dll" 
              Source="$(var.WhisperKey.TargetDir)System.Drawing.Common.dll"
              KeyPath="yes" />
      </Component>

    </ComponentGroup>

    <!-- Resources Directory -->
    <ComponentGroup Id="ResourcesComponents" Directory="ResourcesFolder">
      <Component Id="ResourcesComponent" Guid="11120000-3333-4444-5555-666677778888">
        <File Id="WhisperKey.ico" 
              Name="WhisperKey.ico" 
              Source="$(var.WhisperKey.TargetDir)Resources\WhisperKey.ico"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
