<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="WhisperKey">
          <Component Id="F1_appsettings_json" Guid="*">
            <File Id="F1_appsettings_json_f" Source="C:\Programming\ScottWisper\publish\appsettings.json" KeyPath="yes" />
          </Component>
          <Component Id="F2_H_GeneratedIcons_System_Drawing_dll" Guid="*">
            <File Id="F2_H_GeneratedIcons_System_Drawing_dll_f" Source="C:\Programming\ScottWisper\publish\H.GeneratedIcons.System.Drawing.dll" KeyPath="yes" />
          </Component>
          <Component Id="F3_H_InputSimulator_dll" Guid="*">
            <File Id="F3_H_InputSimulator_dll_f" Source="C:\Programming\ScottWisper\publish\H.InputSimulator.dll" KeyPath="yes" />
          </Component>
          <Component Id="F4_H_NotifyIcon_dll" Guid="*">
            <File Id="F4_H_NotifyIcon_dll_f" Source="C:\Programming\ScottWisper\publish\H.NotifyIcon.dll" KeyPath="yes" />
          </Component>
          <Component Id="F5_H_NotifyIcon_Wpf_dll" Guid="*">
            <File Id="F5_H_NotifyIcon_Wpf_dll_f" Source="C:\Programming\ScottWisper\publish\H.NotifyIcon.Wpf.dll" KeyPath="yes" />
          </Component>
          <Component Id="F6_Microsoft_AspNetCore_Http_Abstractions_dll" Guid="*">
            <File Id="F6_Microsoft_AspNetCore_Http_Abstractions_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.AspNetCore.Http.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F7_Microsoft_AspNetCore_Http_dll" Guid="*">
            <File Id="F7_Microsoft_AspNetCore_Http_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.AspNetCore.Http.dll" KeyPath="yes" />
          </Component>
          <Component Id="F8_Microsoft_AspNetCore_Http_Features_dll" Guid="*">
            <File Id="F8_Microsoft_AspNetCore_Http_Features_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.AspNetCore.Http.Features.dll" KeyPath="yes" />
          </Component>
          <Component Id="F9_Microsoft_AspNetCore_WebUtilities_dll" Guid="*">
            <File Id="F9_Microsoft_AspNetCore_WebUtilities_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.AspNetCore.WebUtilities.dll" KeyPath="yes" />
          </Component>
          <Component Id="F10_Microsoft_Extensions_Configuration_Abstractions_dl" Guid="*">
            <File Id="F10_Microsoft_Extensions_Configuration_Abstractions_dl_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Configuration.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F11_Microsoft_Extensions_Configuration_Binder_dll" Guid="*">
            <File Id="F11_Microsoft_Extensions_Configuration_Binder_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Configuration.Binder.dll" KeyPath="yes" />
          </Component>
          <Component Id="F12_Microsoft_Extensions_Configuration_dll" Guid="*">
            <File Id="F12_Microsoft_Extensions_Configuration_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Configuration.dll" KeyPath="yes" />
          </Component>
          <Component Id="F13_Microsoft_Extensions_Configuration_FileExtensions_" Guid="*">
            <File Id="F13_Microsoft_Extensions_Configuration_FileExtensions__f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Configuration.FileExtensions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F14_Microsoft_Extensions_Configuration_Json_dll" Guid="*">
            <File Id="F14_Microsoft_Extensions_Configuration_Json_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Configuration.Json.dll" KeyPath="yes" />
          </Component>
          <Component Id="F15_Microsoft_Extensions_DependencyInjection_Abstracti" Guid="*">
            <File Id="F15_Microsoft_Extensions_DependencyInjection_Abstracti_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F16_Microsoft_Extensions_DependencyInjection_dll" Guid="*">
            <File Id="F16_Microsoft_Extensions_DependencyInjection_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" />
          </Component>
          <Component Id="F17_Microsoft_Extensions_Diagnostics_Abstractions_dll" Guid="*">
            <File Id="F17_Microsoft_Extensions_Diagnostics_Abstractions_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Diagnostics.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F18_Microsoft_Extensions_Diagnostics_dll" Guid="*">
            <File Id="F18_Microsoft_Extensions_Diagnostics_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Diagnostics.dll" KeyPath="yes" />
          </Component>
          <Component Id="F19_Microsoft_Extensions_FileProviders_Abstractions_dl" Guid="*">
            <File Id="F19_Microsoft_Extensions_FileProviders_Abstractions_dl_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.FileProviders.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F20_Microsoft_Extensions_FileProviders_Physical_dll" Guid="*">
            <File Id="F20_Microsoft_Extensions_FileProviders_Physical_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.FileProviders.Physical.dll" KeyPath="yes" />
          </Component>
          <Component Id="F21_Microsoft_Extensions_FileSystemGlobbing_dll" Guid="*">
            <File Id="F21_Microsoft_Extensions_FileSystemGlobbing_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.FileSystemGlobbing.dll" KeyPath="yes" />
          </Component>
          <Component Id="F22_Microsoft_Extensions_Hosting_Abstractions_dll" Guid="*">
            <File Id="F22_Microsoft_Extensions_Hosting_Abstractions_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Hosting.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F23_Microsoft_Extensions_Http_dll" Guid="*">
            <File Id="F23_Microsoft_Extensions_Http_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Http.dll" KeyPath="yes" />
          </Component>
          <Component Id="F24_Microsoft_Extensions_Logging_Abstractions_dll" Guid="*">
            <File Id="F24_Microsoft_Extensions_Logging_Abstractions_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F25_Microsoft_Extensions_Logging_Configuration_dll" Guid="*">
            <File Id="F25_Microsoft_Extensions_Logging_Configuration_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Logging.Configuration.dll" KeyPath="yes" />
          </Component>
          <Component Id="F26_Microsoft_Extensions_Logging_Console_dll" Guid="*">
            <File Id="F26_Microsoft_Extensions_Logging_Console_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Logging.Console.dll" KeyPath="yes" />
          </Component>
          <Component Id="F27_Microsoft_Extensions_Logging_dll" Guid="*">
            <File Id="F27_Microsoft_Extensions_Logging_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Logging.dll" KeyPath="yes" />
          </Component>
          <Component Id="F28_Microsoft_Extensions_ObjectPool_dll" Guid="*">
            <File Id="F28_Microsoft_Extensions_ObjectPool_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.ObjectPool.dll" KeyPath="yes" />
          </Component>
          <Component Id="F29_Microsoft_Extensions_Options_ConfigurationExtensio" Guid="*">
            <File Id="F29_Microsoft_Extensions_Options_ConfigurationExtensio_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Options.ConfigurationExtensions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F30_Microsoft_Extensions_Options_dll" Guid="*">
            <File Id="F30_Microsoft_Extensions_Options_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Options.dll" KeyPath="yes" />
          </Component>
          <Component Id="F31_Microsoft_Extensions_Primitives_dll" Guid="*">
            <File Id="F31_Microsoft_Extensions_Primitives_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Extensions.Primitives.dll" KeyPath="yes" />
          </Component>
          <Component Id="F32_Microsoft_Net_Http_Headers_dll" Guid="*">
            <File Id="F32_Microsoft_Net_Http_Headers_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Net.Http.Headers.dll" KeyPath="yes" />
          </Component>
          <Component Id="F33_Microsoft_Win32_SystemEvents_dll" Guid="*">
            <File Id="F33_Microsoft_Win32_SystemEvents_dll_f" Source="C:\Programming\ScottWisper\publish\Microsoft.Win32.SystemEvents.dll" KeyPath="yes" />
          </Component>
          <Component Id="F34_NAudio_Asio_dll" Guid="*">
            <File Id="F34_NAudio_Asio_dll_f" Source="C:\Programming\ScottWisper\publish\NAudio.Asio.dll" KeyPath="yes" />
          </Component>
          <Component Id="F35_NAudio_Core_dll" Guid="*">
            <File Id="F35_NAudio_Core_dll_f" Source="C:\Programming\ScottWisper\publish\NAudio.Core.dll" KeyPath="yes" />
          </Component>
          <Component Id="F36_NAudio_dll" Guid="*">
            <File Id="F36_NAudio_dll_f" Source="C:\Programming\ScottWisper\publish\NAudio.dll" KeyPath="yes" />
          </Component>
          <Component Id="F37_NAudio_Midi_dll" Guid="*">
            <File Id="F37_NAudio_Midi_dll_f" Source="C:\Programming\ScottWisper\publish\NAudio.Midi.dll" KeyPath="yes" />
          </Component>
          <Component Id="F38_NAudio_Wasapi_dll" Guid="*">
            <File Id="F38_NAudio_Wasapi_dll_f" Source="C:\Programming\ScottWisper\publish\NAudio.Wasapi.dll" KeyPath="yes" />
          </Component>
          <Component Id="F39_NAudio_WinForms_dll" Guid="*">
            <File Id="F39_NAudio_WinForms_dll_f" Source="C:\Programming\ScottWisper\publish\NAudio.WinForms.dll" KeyPath="yes" />
          </Component>
          <Component Id="F40_NAudio_WinMM_dll" Guid="*">
            <File Id="F40_NAudio_WinMM_dll_f" Source="C:\Programming\ScottWisper\publish\NAudio.WinMM.dll" KeyPath="yes" />
          </Component>
          <Component Id="F41_Newtonsoft_Json_dll" Guid="*">
            <File Id="F41_Newtonsoft_Json_dll_f" Source="C:\Programming\ScottWisper\publish\Newtonsoft.Json.dll" KeyPath="yes" />
          </Component>
          <Component Id="F42_Polly_Core_dll" Guid="*">
            <File Id="F42_Polly_Core_dll_f" Source="C:\Programming\ScottWisper\publish\Polly.Core.dll" KeyPath="yes" />
          </Component>
          <Component Id="F43_Polly_dll" Guid="*">
            <File Id="F43_Polly_dll_f" Source="C:\Programming\ScottWisper\publish\Polly.dll" KeyPath="yes" />
          </Component>
          <Component Id="F44_Serilog_dll" Guid="*">
            <File Id="F44_Serilog_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.dll" KeyPath="yes" />
          </Component>
          <Component Id="F45_Serilog_Enrichers_CorrelationId_dll" Guid="*">
            <File Id="F45_Serilog_Enrichers_CorrelationId_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Enrichers.CorrelationId.dll" KeyPath="yes" />
          </Component>
          <Component Id="F46_Serilog_Enrichers_Environment_dll" Guid="*">
            <File Id="F46_Serilog_Enrichers_Environment_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Enrichers.Environment.dll" KeyPath="yes" />
          </Component>
          <Component Id="F47_Serilog_Enrichers_Process_dll" Guid="*">
            <File Id="F47_Serilog_Enrichers_Process_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Enrichers.Process.dll" KeyPath="yes" />
          </Component>
          <Component Id="F48_Serilog_Extensions_Hosting_dll" Guid="*">
            <File Id="F48_Serilog_Extensions_Hosting_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Extensions.Hosting.dll" KeyPath="yes" />
          </Component>
          <Component Id="F49_Serilog_Extensions_Logging_dll" Guid="*">
            <File Id="F49_Serilog_Extensions_Logging_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Extensions.Logging.dll" KeyPath="yes" />
          </Component>
          <Component Id="F50_Serilog_Sinks_Console_dll" Guid="*">
            <File Id="F50_Serilog_Sinks_Console_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Sinks.Console.dll" KeyPath="yes" />
          </Component>
          <Component Id="F51_Serilog_Sinks_File_dll" Guid="*">
            <File Id="F51_Serilog_Sinks_File_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Sinks.File.dll" KeyPath="yes" />
          </Component>
          <Component Id="F52_Serilog_Sinks_Seq_dll" Guid="*">
            <File Id="F52_Serilog_Sinks_Seq_dll_f" Source="C:\Programming\ScottWisper\publish\Serilog.Sinks.Seq.dll" KeyPath="yes" />
          </Component>
          <Component Id="F53_System_Diagnostics_EventLog_dll" Guid="*">
            <File Id="F53_System_Diagnostics_EventLog_dll_f" Source="C:\Programming\ScottWisper\publish\System.Diagnostics.EventLog.dll" KeyPath="yes" />
          </Component>
          <Component Id="F54_System_Drawing_Common_dll" Guid="*">
            <File Id="F54_System_Drawing_Common_dll_f" Source="C:\Programming\ScottWisper\publish\System.Drawing.Common.dll" KeyPath="yes" />
          </Component>
          <Component Id="F55_System_IO_Abstractions_dll" Guid="*">
            <File Id="F55_System_IO_Abstractions_dll_f" Source="C:\Programming\ScottWisper\publish\System.IO.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F56_System_Management_dll" Guid="*">
            <File Id="F56_System_Management_dll_f" Source="C:\Programming\ScottWisper\publish\System.Management.dll" KeyPath="yes" />
          </Component>
          <Component Id="F57_System_Private_Windows_Core_dll" Guid="*">
            <File Id="F57_System_Private_Windows_Core_dll_f" Source="C:\Programming\ScottWisper\publish\System.Private.Windows.Core.dll" KeyPath="yes" />
          </Component>
          <Component Id="F58_System_Private_Windows_GdiPlus_dll" Guid="*">
            <File Id="F58_System_Private_Windows_GdiPlus_dll_f" Source="C:\Programming\ScottWisper\publish\System.Private.Windows.GdiPlus.dll" KeyPath="yes" />
          </Component>
          <Component Id="F59_System_ServiceProcess_ServiceController_dll" Guid="*">
            <File Id="F59_System_ServiceProcess_ServiceController_dll_f" Source="C:\Programming\ScottWisper\publish\System.ServiceProcess.ServiceController.dll" KeyPath="yes" />
          </Component>
          <Component Id="F60_TestableIO_System_IO_Abstractions_dll" Guid="*">
            <File Id="F60_TestableIO_System_IO_Abstractions_dll_f" Source="C:\Programming\ScottWisper\publish\TestableIO.System.IO.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="F61_TestableIO_System_IO_Abstractions_Wrappers_dll" Guid="*">
            <File Id="F61_TestableIO_System_IO_Abstractions_Wrappers_dll_f" Source="C:\Programming\ScottWisper\publish\TestableIO.System.IO.Abstractions.Wrappers.dll" KeyPath="yes" />
          </Component>
          <Component Id="F62_Whisper_net_dll" Guid="*">
            <File Id="F62_Whisper_net_dll_f" Source="C:\Programming\ScottWisper\publish\Whisper.net.dll" KeyPath="yes" />
          </Component>
          <Component Id="F63_WhisperKey_deps_json" Guid="*">
            <File Id="F63_WhisperKey_deps_json_f" Source="C:\Programming\ScottWisper\publish\WhisperKey.deps.json" KeyPath="yes" />
          </Component>
          <Component Id="F64_WhisperKey_dll" Guid="*">
            <File Id="F64_WhisperKey_dll_f" Source="C:\Programming\ScottWisper\publish\WhisperKey.dll" KeyPath="yes" />
          </Component>
          <Component Id="F65_WhisperKey_exe" Guid="*">
            <File Id="F65_WhisperKey_exe_f" Source="C:\Programming\ScottWisper\publish\WhisperKey.exe" KeyPath="yes" />
          </Component>
          <Component Id="F66_WhisperKey_pdb" Guid="*">
            <File Id="F66_WhisperKey_pdb_f" Source="C:\Programming\ScottWisper\publish\WhisperKey.pdb" KeyPath="yes" />
          </Component>
          <Component Id="F67_WhisperKey_runtimeconfig_json" Guid="*">
            <File Id="F67_WhisperKey_runtimeconfig_json_f" Source="C:\Programming\ScottWisper\publish\WhisperKey.runtimeconfig.json" KeyPath="yes" />
          </Component>
          <Directory Id="D1_Resources" Name="Resources">
            <Component Id="F68_icon_128_dark_png" Guid="*">
              <File Id="F68_icon_128_dark_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-dark.png" KeyPath="yes" />
            </Component>
            <Component Id="F69_icon_128_dark_1_5x_png" Guid="*">
              <File Id="F69_icon_128_dark_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-dark@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F70_icon_128_dark_2x_png" Guid="*">
              <File Id="F70_icon_128_dark_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-dark@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F71_icon_128_dark_3x_png" Guid="*">
              <File Id="F71_icon_128_dark_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-dark@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F72_icon_128_white_png" Guid="*">
              <File Id="F72_icon_128_white_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-white.png" KeyPath="yes" />
            </Component>
            <Component Id="F73_icon_128_white_1_5x_png" Guid="*">
              <File Id="F73_icon_128_white_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-white@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F74_icon_128_white_2x_png" Guid="*">
              <File Id="F74_icon_128_white_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-white@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F75_icon_128_white_3x_png" Guid="*">
              <File Id="F75_icon_128_white_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128-white@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F76_icon_128_png" Guid="*">
              <File Id="F76_icon_128_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128.png" KeyPath="yes" />
            </Component>
            <Component Id="F77_icon_128_1_5x_png" Guid="*">
              <File Id="F77_icon_128_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F78_icon_128_2x_png" Guid="*">
              <File Id="F78_icon_128_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F79_icon_128_3x_png" Guid="*">
              <File Id="F79_icon_128_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-128@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F80_icon_16_dark_png" Guid="*">
              <File Id="F80_icon_16_dark_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-dark.png" KeyPath="yes" />
            </Component>
            <Component Id="F81_icon_16_dark_1_5x_png" Guid="*">
              <File Id="F81_icon_16_dark_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-dark@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F82_icon_16_dark_2x_png" Guid="*">
              <File Id="F82_icon_16_dark_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-dark@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F83_icon_16_dark_3x_png" Guid="*">
              <File Id="F83_icon_16_dark_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-dark@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F84_icon_16_white_png" Guid="*">
              <File Id="F84_icon_16_white_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-white.png" KeyPath="yes" />
            </Component>
            <Component Id="F85_icon_16_white_1_5x_png" Guid="*">
              <File Id="F85_icon_16_white_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-white@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F86_icon_16_white_2x_png" Guid="*">
              <File Id="F86_icon_16_white_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-white@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F87_icon_16_white_3x_png" Guid="*">
              <File Id="F87_icon_16_white_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16-white@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F88_icon_16_png" Guid="*">
              <File Id="F88_icon_16_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16.png" KeyPath="yes" />
            </Component>
            <Component Id="F89_icon_16_1_5x_png" Guid="*">
              <File Id="F89_icon_16_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F90_icon_16_2x_png" Guid="*">
              <File Id="F90_icon_16_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F91_icon_16_3x_png" Guid="*">
              <File Id="F91_icon_16_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-16@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F92_icon_256_dark_png" Guid="*">
              <File Id="F92_icon_256_dark_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256-dark.png" KeyPath="yes" />
            </Component>
            <Component Id="F93_icon_256_dark_1_5x_png" Guid="*">
              <File Id="F93_icon_256_dark_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256-dark@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F94_icon_256_dark_2x_png" Guid="*">
              <File Id="F94_icon_256_dark_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256-dark@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F95_icon_256_white_png" Guid="*">
              <File Id="F95_icon_256_white_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256-white.png" KeyPath="yes" />
            </Component>
            <Component Id="F96_icon_256_white_1_5x_png" Guid="*">
              <File Id="F96_icon_256_white_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256-white@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F97_icon_256_white_2x_png" Guid="*">
              <File Id="F97_icon_256_white_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256-white@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F98_icon_256_png" Guid="*">
              <File Id="F98_icon_256_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256.png" KeyPath="yes" />
            </Component>
            <Component Id="F99_icon_256_1_5x_png" Guid="*">
              <File Id="F99_icon_256_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F100_icon_256_2x_png" Guid="*">
              <File Id="F100_icon_256_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-256@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F101_icon_32_dark_png" Guid="*">
              <File Id="F101_icon_32_dark_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-dark.png" KeyPath="yes" />
            </Component>
            <Component Id="F102_icon_32_dark_1_5x_png" Guid="*">
              <File Id="F102_icon_32_dark_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-dark@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F103_icon_32_dark_2x_png" Guid="*">
              <File Id="F103_icon_32_dark_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-dark@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F104_icon_32_dark_3x_png" Guid="*">
              <File Id="F104_icon_32_dark_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-dark@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F105_icon_32_white_png" Guid="*">
              <File Id="F105_icon_32_white_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-white.png" KeyPath="yes" />
            </Component>
            <Component Id="F106_icon_32_white_1_5x_png" Guid="*">
              <File Id="F106_icon_32_white_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-white@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F107_icon_32_white_2x_png" Guid="*">
              <File Id="F107_icon_32_white_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-white@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F108_icon_32_white_3x_png" Guid="*">
              <File Id="F108_icon_32_white_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32-white@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F109_icon_32_png" Guid="*">
              <File Id="F109_icon_32_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32.png" KeyPath="yes" />
            </Component>
            <Component Id="F110_icon_32_1_5x_png" Guid="*">
              <File Id="F110_icon_32_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F111_icon_32_2x_png" Guid="*">
              <File Id="F111_icon_32_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F112_icon_32_3x_png" Guid="*">
              <File Id="F112_icon_32_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-32@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F113_icon_48_dark_png" Guid="*">
              <File Id="F113_icon_48_dark_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-dark.png" KeyPath="yes" />
            </Component>
            <Component Id="F114_icon_48_dark_1_5x_png" Guid="*">
              <File Id="F114_icon_48_dark_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-dark@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F115_icon_48_dark_2x_png" Guid="*">
              <File Id="F115_icon_48_dark_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-dark@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F116_icon_48_dark_3x_png" Guid="*">
              <File Id="F116_icon_48_dark_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-dark@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F117_icon_48_white_png" Guid="*">
              <File Id="F117_icon_48_white_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-white.png" KeyPath="yes" />
            </Component>
            <Component Id="F118_icon_48_white_1_5x_png" Guid="*">
              <File Id="F118_icon_48_white_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-white@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F119_icon_48_white_2x_png" Guid="*">
              <File Id="F119_icon_48_white_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-white@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F120_icon_48_white_3x_png" Guid="*">
              <File Id="F120_icon_48_white_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48-white@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F121_icon_48_png" Guid="*">
              <File Id="F121_icon_48_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48.png" KeyPath="yes" />
            </Component>
            <Component Id="F122_icon_48_1_5x_png" Guid="*">
              <File Id="F122_icon_48_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F123_icon_48_2x_png" Guid="*">
              <File Id="F123_icon_48_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F124_icon_48_3x_png" Guid="*">
              <File Id="F124_icon_48_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-48@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F125_icon_64_dark_png" Guid="*">
              <File Id="F125_icon_64_dark_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-dark.png" KeyPath="yes" />
            </Component>
            <Component Id="F126_icon_64_dark_1_5x_png" Guid="*">
              <File Id="F126_icon_64_dark_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-dark@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F127_icon_64_dark_2x_png" Guid="*">
              <File Id="F127_icon_64_dark_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-dark@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F128_icon_64_dark_3x_png" Guid="*">
              <File Id="F128_icon_64_dark_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-dark@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F129_icon_64_white_png" Guid="*">
              <File Id="F129_icon_64_white_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-white.png" KeyPath="yes" />
            </Component>
            <Component Id="F130_icon_64_white_1_5x_png" Guid="*">
              <File Id="F130_icon_64_white_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-white@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F131_icon_64_white_2x_png" Guid="*">
              <File Id="F131_icon_64_white_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-white@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F132_icon_64_white_3x_png" Guid="*">
              <File Id="F132_icon_64_white_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64-white@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F133_icon_64_png" Guid="*">
              <File Id="F133_icon_64_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64.png" KeyPath="yes" />
            </Component>
            <Component Id="F134_icon_64_1_5x_png" Guid="*">
              <File Id="F134_icon_64_1_5x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64@1.5x.png" KeyPath="yes" />
            </Component>
            <Component Id="F135_icon_64_2x_png" Guid="*">
              <File Id="F135_icon_64_2x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64@2x.png" KeyPath="yes" />
            </Component>
            <Component Id="F136_icon_64_3x_png" Guid="*">
              <File Id="F136_icon_64_3x_png_f" Source="C:\Programming\ScottWisper\publish\Resources\icon-64@3x.png" KeyPath="yes" />
            </Component>
            <Component Id="F137_WhisperKey_ico" Guid="*">
              <File Id="F137_WhisperKey_ico_f" Source="C:\Programming\ScottWisper\publish\Resources\WhisperKey.ico" KeyPath="yes" />
            </Component>
          </Directory>
          <Directory Id="D2_runtimes" Name="runtimes">
            <Directory Id="D2_win" Name="win">
              <Directory Id="D2_lib" Name="lib">
                <Directory Id="D2_net8_0" Name="net8.0">
                  <Component Id="F138_Microsoft_Win32_SystemEvents_dll" Guid="*">
                    <File Id="F138_Microsoft_Win32_SystemEvents_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win\lib\net8.0\Microsoft.Win32.SystemEvents.dll" KeyPath="yes" />
                  </Component>
                  <Component Id="F139_System_Diagnostics_EventLog_dll" Guid="*">
                    <File Id="F139_System_Diagnostics_EventLog_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win\lib\net8.0\System.Diagnostics.EventLog.dll" KeyPath="yes" />
                  </Component>
                  <Component Id="F140_System_Diagnostics_EventLog_Messages_dll" Guid="*">
                    <File Id="F140_System_Diagnostics_EventLog_Messages_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win\lib\net8.0\System.Diagnostics.EventLog.Messages.dll" KeyPath="yes" />
                  </Component>
                  <Component Id="F141_System_Management_dll" Guid="*">
                    <File Id="F141_System_Management_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win\lib\net8.0\System.Management.dll" KeyPath="yes" />
                  </Component>
                  <Component Id="F142_System_ServiceProcess_ServiceController_dll" Guid="*">
                    <File Id="F142_System_ServiceProcess_ServiceController_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win\lib\net8.0\System.ServiceProcess.ServiceController.dll" KeyPath="yes" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
            <Directory Id="D5_win_arm64" Name="win-arm64">
              <Component Id="F143_ggml_base_whisper_dll" Guid="*">
                <File Id="F143_ggml_base_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-arm64\ggml-base-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F144_ggml_cpu_whisper_dll" Guid="*">
                <File Id="F144_ggml_cpu_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-arm64\ggml-cpu-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F145_ggml_whisper_dll" Guid="*">
                <File Id="F145_ggml_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-arm64\ggml-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F146_whisper_dll" Guid="*">
                <File Id="F146_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-arm64\whisper.dll" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="D6_win_x64" Name="win-x64">
              <Component Id="F147_ggml_base_whisper_dll" Guid="*">
                <File Id="F147_ggml_base_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x64\ggml-base-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F148_ggml_cpu_whisper_dll" Guid="*">
                <File Id="F148_ggml_cpu_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x64\ggml-cpu-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F149_ggml_whisper_dll" Guid="*">
                <File Id="F149_ggml_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x64\ggml-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F150_whisper_dll" Guid="*">
                <File Id="F150_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x64\whisper.dll" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="D7_win_x86" Name="win-x86">
              <Component Id="F151_ggml_base_whisper_dll" Guid="*">
                <File Id="F151_ggml_base_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x86\ggml-base-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F152_ggml_cpu_whisper_dll" Guid="*">
                <File Id="F152_ggml_cpu_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x86\ggml-cpu-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F153_ggml_whisper_dll" Guid="*">
                <File Id="F153_ggml_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x86\ggml-whisper.dll" KeyPath="yes" />
              </Component>
              <Component Id="F154_whisper_dll" Guid="*">
                <File Id="F154_whisper_dll_f" Source="C:\Programming\ScottWisper\publish\runtimes\win-x86\whisper.dll" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>

      </Directory>
    </StandardDirectory>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="F1_appsettings_json" />
      <ComponentRef Id="F2_H_GeneratedIcons_System_Drawing_dll" />
      <ComponentRef Id="F3_H_InputSimulator_dll" />
      <ComponentRef Id="F4_H_NotifyIcon_dll" />
      <ComponentRef Id="F5_H_NotifyIcon_Wpf_dll" />
      <ComponentRef Id="F6_Microsoft_AspNetCore_Http_Abstractions_dll" />
      <ComponentRef Id="F7_Microsoft_AspNetCore_Http_dll" />
      <ComponentRef Id="F8_Microsoft_AspNetCore_Http_Features_dll" />
      <ComponentRef Id="F9_Microsoft_AspNetCore_WebUtilities_dll" />
      <ComponentRef Id="F10_Microsoft_Extensions_Configuration_Abstractions_dl" />
      <ComponentRef Id="F11_Microsoft_Extensions_Configuration_Binder_dll" />
      <ComponentRef Id="F12_Microsoft_Extensions_Configuration_dll" />
      <ComponentRef Id="F13_Microsoft_Extensions_Configuration_FileExtensions_" />
      <ComponentRef Id="F14_Microsoft_Extensions_Configuration_Json_dll" />
      <ComponentRef Id="F15_Microsoft_Extensions_DependencyInjection_Abstracti" />
      <ComponentRef Id="F16_Microsoft_Extensions_DependencyInjection_dll" />
      <ComponentRef Id="F17_Microsoft_Extensions_Diagnostics_Abstractions_dll" />
      <ComponentRef Id="F18_Microsoft_Extensions_Diagnostics_dll" />
      <ComponentRef Id="F19_Microsoft_Extensions_FileProviders_Abstractions_dl" />
      <ComponentRef Id="F20_Microsoft_Extensions_FileProviders_Physical_dll" />
      <ComponentRef Id="F21_Microsoft_Extensions_FileSystemGlobbing_dll" />
      <ComponentRef Id="F22_Microsoft_Extensions_Hosting_Abstractions_dll" />
      <ComponentRef Id="F23_Microsoft_Extensions_Http_dll" />
      <ComponentRef Id="F24_Microsoft_Extensions_Logging_Abstractions_dll" />
      <ComponentRef Id="F25_Microsoft_Extensions_Logging_Configuration_dll" />
      <ComponentRef Id="F26_Microsoft_Extensions_Logging_Console_dll" />
      <ComponentRef Id="F27_Microsoft_Extensions_Logging_dll" />
      <ComponentRef Id="F28_Microsoft_Extensions_ObjectPool_dll" />
      <ComponentRef Id="F29_Microsoft_Extensions_Options_ConfigurationExtensio" />
      <ComponentRef Id="F30_Microsoft_Extensions_Options_dll" />
      <ComponentRef Id="F31_Microsoft_Extensions_Primitives_dll" />
      <ComponentRef Id="F32_Microsoft_Net_Http_Headers_dll" />
      <ComponentRef Id="F33_Microsoft_Win32_SystemEvents_dll" />
      <ComponentRef Id="F34_NAudio_Asio_dll" />
      <ComponentRef Id="F35_NAudio_Core_dll" />
      <ComponentRef Id="F36_NAudio_dll" />
      <ComponentRef Id="F37_NAudio_Midi_dll" />
      <ComponentRef Id="F38_NAudio_Wasapi_dll" />
      <ComponentRef Id="F39_NAudio_WinForms_dll" />
      <ComponentRef Id="F40_NAudio_WinMM_dll" />
      <ComponentRef Id="F41_Newtonsoft_Json_dll" />
      <ComponentRef Id="F42_Polly_Core_dll" />
      <ComponentRef Id="F43_Polly_dll" />
      <ComponentRef Id="F44_Serilog_dll" />
      <ComponentRef Id="F45_Serilog_Enrichers_CorrelationId_dll" />
      <ComponentRef Id="F46_Serilog_Enrichers_Environment_dll" />
      <ComponentRef Id="F47_Serilog_Enrichers_Process_dll" />
      <ComponentRef Id="F48_Serilog_Extensions_Hosting_dll" />
      <ComponentRef Id="F49_Serilog_Extensions_Logging_dll" />
      <ComponentRef Id="F50_Serilog_Sinks_Console_dll" />
      <ComponentRef Id="F51_Serilog_Sinks_File_dll" />
      <ComponentRef Id="F52_Serilog_Sinks_Seq_dll" />
      <ComponentRef Id="F53_System_Diagnostics_EventLog_dll" />
      <ComponentRef Id="F54_System_Drawing_Common_dll" />
      <ComponentRef Id="F55_System_IO_Abstractions_dll" />
      <ComponentRef Id="F56_System_Management_dll" />
      <ComponentRef Id="F57_System_Private_Windows_Core_dll" />
      <ComponentRef Id="F58_System_Private_Windows_GdiPlus_dll" />
      <ComponentRef Id="F59_System_ServiceProcess_ServiceController_dll" />
      <ComponentRef Id="F60_TestableIO_System_IO_Abstractions_dll" />
      <ComponentRef Id="F61_TestableIO_System_IO_Abstractions_Wrappers_dll" />
      <ComponentRef Id="F62_Whisper_net_dll" />
      <ComponentRef Id="F63_WhisperKey_deps_json" />
      <ComponentRef Id="F64_WhisperKey_dll" />
      <ComponentRef Id="F65_WhisperKey_exe" />
      <ComponentRef Id="F66_WhisperKey_pdb" />
      <ComponentRef Id="F67_WhisperKey_runtimeconfig_json" />
      <ComponentRef Id="F68_icon_128_dark_png" />
      <ComponentRef Id="F69_icon_128_dark_1_5x_png" />
      <ComponentRef Id="F70_icon_128_dark_2x_png" />
      <ComponentRef Id="F71_icon_128_dark_3x_png" />
      <ComponentRef Id="F72_icon_128_white_png" />
      <ComponentRef Id="F73_icon_128_white_1_5x_png" />
      <ComponentRef Id="F74_icon_128_white_2x_png" />
      <ComponentRef Id="F75_icon_128_white_3x_png" />
      <ComponentRef Id="F76_icon_128_png" />
      <ComponentRef Id="F77_icon_128_1_5x_png" />
      <ComponentRef Id="F78_icon_128_2x_png" />
      <ComponentRef Id="F79_icon_128_3x_png" />
      <ComponentRef Id="F80_icon_16_dark_png" />
      <ComponentRef Id="F81_icon_16_dark_1_5x_png" />
      <ComponentRef Id="F82_icon_16_dark_2x_png" />
      <ComponentRef Id="F83_icon_16_dark_3x_png" />
      <ComponentRef Id="F84_icon_16_white_png" />
      <ComponentRef Id="F85_icon_16_white_1_5x_png" />
      <ComponentRef Id="F86_icon_16_white_2x_png" />
      <ComponentRef Id="F87_icon_16_white_3x_png" />
      <ComponentRef Id="F88_icon_16_png" />
      <ComponentRef Id="F89_icon_16_1_5x_png" />
      <ComponentRef Id="F90_icon_16_2x_png" />
      <ComponentRef Id="F91_icon_16_3x_png" />
      <ComponentRef Id="F92_icon_256_dark_png" />
      <ComponentRef Id="F93_icon_256_dark_1_5x_png" />
      <ComponentRef Id="F94_icon_256_dark_2x_png" />
      <ComponentRef Id="F95_icon_256_white_png" />
      <ComponentRef Id="F96_icon_256_white_1_5x_png" />
      <ComponentRef Id="F97_icon_256_white_2x_png" />
      <ComponentRef Id="F98_icon_256_png" />
      <ComponentRef Id="F99_icon_256_1_5x_png" />
      <ComponentRef Id="F100_icon_256_2x_png" />
      <ComponentRef Id="F101_icon_32_dark_png" />
      <ComponentRef Id="F102_icon_32_dark_1_5x_png" />
      <ComponentRef Id="F103_icon_32_dark_2x_png" />
      <ComponentRef Id="F104_icon_32_dark_3x_png" />
      <ComponentRef Id="F105_icon_32_white_png" />
      <ComponentRef Id="F106_icon_32_white_1_5x_png" />
      <ComponentRef Id="F107_icon_32_white_2x_png" />
      <ComponentRef Id="F108_icon_32_white_3x_png" />
      <ComponentRef Id="F109_icon_32_png" />
      <ComponentRef Id="F110_icon_32_1_5x_png" />
      <ComponentRef Id="F111_icon_32_2x_png" />
      <ComponentRef Id="F112_icon_32_3x_png" />
      <ComponentRef Id="F113_icon_48_dark_png" />
      <ComponentRef Id="F114_icon_48_dark_1_5x_png" />
      <ComponentRef Id="F115_icon_48_dark_2x_png" />
      <ComponentRef Id="F116_icon_48_dark_3x_png" />
      <ComponentRef Id="F117_icon_48_white_png" />
      <ComponentRef Id="F118_icon_48_white_1_5x_png" />
      <ComponentRef Id="F119_icon_48_white_2x_png" />
      <ComponentRef Id="F120_icon_48_white_3x_png" />
      <ComponentRef Id="F121_icon_48_png" />
      <ComponentRef Id="F122_icon_48_1_5x_png" />
      <ComponentRef Id="F123_icon_48_2x_png" />
      <ComponentRef Id="F124_icon_48_3x_png" />
      <ComponentRef Id="F125_icon_64_dark_png" />
      <ComponentRef Id="F126_icon_64_dark_1_5x_png" />
      <ComponentRef Id="F127_icon_64_dark_2x_png" />
      <ComponentRef Id="F128_icon_64_dark_3x_png" />
      <ComponentRef Id="F129_icon_64_white_png" />
      <ComponentRef Id="F130_icon_64_white_1_5x_png" />
      <ComponentRef Id="F131_icon_64_white_2x_png" />
      <ComponentRef Id="F132_icon_64_white_3x_png" />
      <ComponentRef Id="F133_icon_64_png" />
      <ComponentRef Id="F134_icon_64_1_5x_png" />
      <ComponentRef Id="F135_icon_64_2x_png" />
      <ComponentRef Id="F136_icon_64_3x_png" />
      <ComponentRef Id="F137_WhisperKey_ico" />
      <ComponentRef Id="F138_Microsoft_Win32_SystemEvents_dll" />
      <ComponentRef Id="F139_System_Diagnostics_EventLog_dll" />
      <ComponentRef Id="F140_System_Diagnostics_EventLog_Messages_dll" />
      <ComponentRef Id="F141_System_Management_dll" />
      <ComponentRef Id="F142_System_ServiceProcess_ServiceController_dll" />
      <ComponentRef Id="F143_ggml_base_whisper_dll" />
      <ComponentRef Id="F144_ggml_cpu_whisper_dll" />
      <ComponentRef Id="F145_ggml_whisper_dll" />
      <ComponentRef Id="F146_whisper_dll" />
      <ComponentRef Id="F147_ggml_base_whisper_dll" />
      <ComponentRef Id="F148_ggml_cpu_whisper_dll" />
      <ComponentRef Id="F149_ggml_whisper_dll" />
      <ComponentRef Id="F150_whisper_dll" />
      <ComponentRef Id="F151_ggml_base_whisper_dll" />
      <ComponentRef Id="F152_ggml_cpu_whisper_dll" />
      <ComponentRef Id="F153_ggml_whisper_dll" />
      <ComponentRef Id="F154_whisper_dll" />
    </ComponentGroup>
  </Fragment>
</Wix>
