<?xml version="1.0" encoding="UTF-8"?>
<!--
  WhisperKey MSI Installer - WiX v4
  
  Build Commands:
    1. Harvest files: wix harvest dir ./publish -o ./Installer/Files.wxs -cg ProductComponents -gg
    2. Build MSI: wix build ./Installer/WhisperKey.wxs ./Installer/Files.wxs -o ./WhisperKey.msi -d Version=$(Version)
  
  Silent Install:
    msiexec /i WhisperKey.msi /qn
    
  Uninstall:
    msiexec /x WhisperKey.msi /qn
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  
  <!-- Version is passed as preprocessor variable from build script -->
  <?ifndef Version ?>
    <?define Version = "1.0.0" ?>
  <?endif?>
     
  <Package Name="WhisperKey" 
           Language="1033" 
           Version="$(var.Version)" 
           Manufacturer="WhisperKey" 
           UpgradeCode="a3ef09de-38b1-4068-87c0-9a7d707d1a88">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of WhisperKey is already installed." />
    
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Features -->
    <Feature Id="ProductFeature" Title="WhisperKey" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    

    
    <!-- Start Menu -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="WhisperKey" />
    </StandardDirectory>
    
    <!-- Desktop -->
    <StandardDirectory Id="DesktopFolder" />
    

    

    

    
    <!-- Properties -->
    <Property Id="DESKTOPSHORTCUT" Value="0" />
    
  </Package>
</Wix>
